@model BTL_Quanlybantv.Models.Product

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.product_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.product_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.stock_quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.stock_quantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.brand)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.brand)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.screen_size)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.screen_size)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.resolution)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.resolution)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.features)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.features)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.image_url)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.image_url)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Category.cate_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.cate_name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.product_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
